
press escape to become blue
when in blue double d ;) to delete
when in blue press "a" to add tab for above
when in blue press 'b" to add tab below
shift+enter is to run the code
when in blue press m for marking

In [7]:
#words are strings,nnumbers are called integers.[] are called lists,() are called tuples,{} are called dictionaries

#integers
#integers are mutable,eg:- a=1

#strings
#strings are immutablee,eg:- a="god"

#list
#lists can be changed or mutable, eg:- a=[12,3,2,3,4,2,4],b=["adhvay","abhishek","dawg"]

#tuple
#tuple cannot be changed or immutable, eg:- a=(1,2,3,2,3)

#dictionary
#dictionary are mutable and stored in key value pairs, eg:- marks={"adhvay":10,"abhishek":7},b={5:10,20:2} ,here adhvay and abhishek are called keys,10 and 7are called values  

a=1
b=2
a+b
c="adhvay"

print("c")
print(c)

d=1.2

c
adhvay

In [2]:
a=1
b=2
print(a+b)

3

In [4]:
a=1
b=2
c=a+b
print("sum is {}".format(c))
print("sum of {} and {} is {}".format(a,b,c))

sum is 3
sum of 1 and 2 is 3

In [6]:
a=2
b=3
c=a+b
print("sum of {} and {} is {}".format(a,b,c))
c=b-a
print("difference of {} and {} is {}".format(b,a,c))
c=a*b
print("product of {} and {} is {}".format(a,b,c))
c=b/a
print("quotient of {} and {} is {}".format(b,a,c))

sum of 2 and 3 is 5
difference of 3 and 2 is 1
product of 2 and 3 is 6
quotient of 3 and 2 is 1.5

In [7]:
a=2
b=3
c=4
d=a+b
e=c+b
print("sum of {} and {} is {}".format(a,b,d))
print("sum of {} and {} is {}".format(c,b,e))
d=b-a
e=c-b
print("difference of {} and {} is {}".format(b,a,d))
print("difference of {} and {} is {}".format(c,b,e))
d=a*b
e=c*b
print("product of {} and {} is {}".format(a,b,d))
print("product of {} and {} is {}".format(c,b,e))
d=b/a
e=c/a
print("quotient of {} and {} is {}".format(b,a,d))
print("quotient of {} and {} is {}".format(c,a,e))

sum of 2 and 3 is 5
sum of 4 and 3 is 7
difference of 3 and 2 is 1
difference of 4 and 3 is 1
product of 2 and 3 is 6
product of 4 and 3 is 12
quotient of 3 and 2 is 1.5
quotient of 4 and 2 is 2.0

In [27]:
#property of strings called slicing,strings start from index position 0 in the normal order and index starts from -1 in the reverse order
#a[start:end:step]
a="abhishek sucks dick"
print(len(a))
print(a[:])
print(a[::-1]) #reverse order
print(a[::2])  #alternate letters
print(a[18:8:-1])  #hard
print(a[-1:-11:-1])  #medium
print(a[-1:8:-1])  #easy
print(a[-6::-2])
print(a[13::-2])

19
abhishek sucks dick
kcid skcus kehsihba
ahse uk ik
kcid skcus
kcid skcus
kcid skcus
scskhib
scskhib

In [9]:
count=[10,20,30,40]
for d in count:
    print("c")

c
c
c
c

In [ ]:
a=6 #variable is integer
b=7.0 #variable is float
c= "abhishek sucks dick" #variable is string
d=(10,20,30,40) #variable is tuple,nonchangeable
e=[10,20,30,40] #variable is list,changeable

In [33]:
count=(10,20,30,40)
for c in count:
    print(c)

10
20
30
40

In [39]:
#print,list,range are all functions
a=list(range(0,10))
b=list(range(0,10,2))
c=list(range(1,11))
print(a)
print(b)
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [40]:
for i in range(0,10):
    print(2*i)

0
2
4
6
8
10
12
14
16
18

In [50]:
a="adhva"
b=3
for i in range(5,16):
    print("6*",i,"=",6*i)

6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
6* 11 = 66
6* 12 = 72
6* 13 = 78
6* 14 = 84
6* 15 = 90

In [57]:
for i in range(4,17):
    print("6*{}=".format(i),6*i)

6*4= 24
6*5= 30
6*6= 36
6*7= 42
6*8= 48
6*9= 54
6*10= 60
6*11= 66
6*12= 72
6*13= 78
6*14= 84
6*15= 90
6*16= 96

In [60]:

for i in range(7,22):
    print("{}*{}={}".format(9,i,9*i))

9*7=63
9*8=72
9*9=81
9*10=90
9*11=99
9*12=108
9*13=117
9*14=126
9*15=135
9*16=144
9*17=153
9*18=162
9*19=171
9*20=180
9*21=189

In [5]:
counter=0
while counter<3:
    print("hello")
    counter=counter+1

hello
hello
hello

In [6]:
x=0
s=0
while (x<10):
    s=s+x
    x=x+1
else:
    print("fried",s)

fried 45

In [ ]:
var=5
while var=5: #here it means 3 == 1
    num=int(input("enter number:"))
    print ("you've entered:",num)
else:
    print("goodbye")

3### for i in range (1,4):
    for j in range(1.1+i):
        print(j,end=' ')
    print()

In [12]:
for i in range (1,15):
    for j in range(1,1+i):
        print(j,end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910
1234567891011
123456789101112
12345678910111213
1234567891011121314

In [11]:
for i in range(1,4):
    print(i)

1
2
3

In [4]:
for val in "string":
    if val=="i":
        break
    print(val)
print("over")

s
t
r
over

In [7]:
num=0
for num in range(10):
    num=num+1
    if num==5:
        break
        print('num has value'+str(num))
    print('end break!! out of loop')

end break!! out of loop
end break!! out of loop
end break!! out of loop
end break!! out of loop

In [9]:
for val in "string":
    if val=="i":
        break
    print(val)
else:
    print("bye")

s
t
r

In [15]:
entry=0
sum=0
print("enter number sum,negative number ends:")
while True:
    entry=eval(input())
    if entry<0:
        break
    sum+=entry
print("sum=",sum)

enter number sum,negative number ends:
3
3
3
33
3
3
32

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [2]:
for i in range(6,24):
    print("7 times",i,"is",7*i)

7 times 6 is 42
7 times 7 is 49
7 times 8 is 56
7 times 9 is 63
7 times 10 is 70
7 times 11 is 77
7 times 12 is 84
7 times 13 is 91
7 times 14 is 98
7 times 15 is 105
7 times 16 is 112
7 times 17 is 119
7 times 18 is 126
7 times 19 is 133
7 times 20 is 140
7 times 21 is 147
7 times 22 is 154
7 times 23 is 161

In [3]:
for i in range(6,24):
    print("{} times {} is {}".format(7,i,7*i))

7 times 6 is 42
7 times 7 is 49
7 times 8 is 56
7 times 9 is 63
7 times 10 is 70
7 times 11 is 77
7 times 12 is 84
7 times 13 is 91
7 times 14 is 98
7 times 15 is 105
7 times 16 is 112
7 times 17 is 119
7 times 18 is 126
7 times 19 is 133
7 times 20 is 140
7 times 21 is 147
7 times 22 is 154
7 times 23 is 161

In [4]:
i=int(input("enter number"))
if i%2==0:
    print("fuck you")
else:
    print("sugondeeznuts")

enter number2
fuck you

In [6]:
i=int(input("enter number"))
if i%2==0:
    print(i*7)
else:
    print(i+7)

enter number5
12

In [18]:
i=int(input("enter number"))
if i%3==0 and i%5==0:
    print("babysugondeeznuts")
elif i%5==0:
    print("deez nuts")
elif i%3==0:
    print("baby")
else:
    print("fuckmyass")

enter number7
fuckmyass

In [20]:
i=int(input("enter number"))
if i%3==0:
    print("babysugondeeznuts")
elif i%5==0:
    print("deez nuts")
elif i%15==0:
    print("baby")
else:
    print("fuckmyass")

enter number15
babysugondeeznuts

In [1]:
for i in range(0,10):
    if i%2==0:
        print(i)
        print("i am in the loop")
print("abhi an idiot")

0
i am in the loop
2
i am in the loop
4
i am in the loop
6
i am in the loop
8
i am in the loop
abhi an idiot

In [23]:
a=[1,2,3,4,5]-+
for i in a:
    print(i)

1
2
3
4
5

In [25]:
a=list(range(1,101))
for i in a:
    print(i)

1
2
3
4
5

In [22]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
a=list(range(1,21))
for i in a:
    if i%3==0:
        print("this {} is number is divisible by 3".format(i))
    elif i%5==0:
        print("this {} is divisible by 5".format(i))
    else:
        print("taste ass")

taste ass
taste ass
this 3 is number is divisible by 3
taste ass
this 5 is divisible by 5
this 6 is number is divisible by 3
taste ass
taste ass
this 9 is number is divisible by 3
this 10 is divisible by 5
taste ass
this 12 is number is divisible by 3
taste ass
taste ass
this 15 is number is divisible by 3
taste ass
taste ass
this 18 is number is divisible by 3
taste ass
this 20 is divisible by 5

In [1]:
sum=0
a=int(input("enter a number"))
for i in range(1,a+1):
    sum=sum+i**3            #VERY IMPORTANT
print(sum)

enter a number3
36

In [2]:
product=1
a=int(input("enter number"))
for i in range(1,a+1):
    product=product*i**3
print(product)

enter number3
216

In [1]:
a=int(input("enter number"))
b=int(input("enter number"))
if a*b>1000:
    print(a+b)
else:
    print(a*b)

enter number3
enter number4
12

In [34]:
i=1
while i<=10:
    i=i+1
    print(2*i)

4
6
8
10
12
14
16
18
20
22

In [35]:
i=1
while i<=10:
    print(2*i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [38]:
i=3
while i<=25:
    print("{}*{}={}".format(7,i,7*i))
    i=i+2

7*3=21
7*5=35
7*7=49
7*9=63
7*11=77
7*13=91
7*15=105
7*17=119
7*19=133
7*21=147
7*23=161
7*25=175

In [8]:
b=[3,4,5,6,7,8,9,10]
b

[3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
a=list(range(3,11))
print(a)

[3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
a="abhishek sucks dildo"
print(a[::-1])
print(a[::2])

odlid skcus kehsihba
ahse uk id

In [21]:
b=[2,3,4,5,6,7]
print(b[::-1])
print(b[::])
print(b[:])
print(b[2:5:1])
print(b[4])

[7, 6, 5, 4, 3, 2]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[4, 5, 6]
6

In [30]:
num=0
a=[3,4,5,6,7,8,9,10,11]
while num<len(a):
    if a[num]%2==0:
        print(a[num])
    else:
        print("die")
    num=num+1

die
4
die
6
die
8
die
10
die

In [1]:
a=list(range(22,50))
for i in a:s
    if i%2==0:
        print(i)

22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [7]:
n1=0
n2=1
a=int(input("enter number"))
for i in range(0,a+1):                     #fibonacci series
    print(n1," ")
    sum=n1+n2
    n1=n2
    n2=sum

enter number5
0
1
1
2
3
5

In [13]:
a=[12,3,4,2,4,3]
print (a)

[12, 3, 4, 2, 4, 3]

In [48]:
#lists can also be sliced
a=list(range(1,13))
print(a)
print(a[:])
print(a[3])
print(a[6:11:1])
print(a[12:6:-1])
print(a[-1:1:-1])
print(a[0::11])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
4
[7, 8, 9, 10, 11]
[12, 11, 10, 9, 8]
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3]
[1, 12]

In [55]:
#traversing
a=["abhishek","likes","dildos"]
print(a)
for i in a:
    print(i)

['abhishek', 'likes', 'dildos']
abhishek
likes
dildos

In [56]:
#traversing
a=list("abhishek")
print(a)
for i in a:
    print(i)

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']
a
b
h
i
s
h
e
k

In [57]:
#[1,2,3,4]<[4,5,6]-true....................1<4
#[1,2,3,4]<[1,5,2,3]-true..................2<5
#[1,2,3,4]>[1,2,0,3]-true..................3>0
#[1,2,3,4]<[1,2,3,2]-false.................4>2

In [58]:
#nested loops 
a=[1,2,3,4,5,6]
b=[4,8,12,16,20,24]
for i in a:
    for j in b:
        if i==j:
            print(i)

4

In [59]:
a=[1,2,3,[4,5],6]
for i in a:
    print(i)

1
2
3
[4, 5]
6

In [60]:
a=["adhvay","abhishek",3,4,5,"ass",32]
for i in a:
    print(i)

adhvay
abhishek
3
4
5
ass
32

In [61]:
a=["adhvay",["abhishek","juicy"],23,[2,3,4],"tiddies",[24,10,"bryant"]]
for i in a:
    print(i)

adhvay
['abhishek', 'juicy']
23
[2, 3, 4]
tiddies
[24, 10, 'bryant']

In [66]:
#membership testing
a=[1,2,3,4]
print(2 in a)
print(6 not in a)
print(2 not in a)
print(6 in a)

True
True
False
False

In [68]:
#concatenantion(merging)
#lists can be addded w each other
a=[1,2,3,5]
b=[6,7,8,9]
c=["adhvay"]+a
print(a+b)
print(c)

[1, 2, 3, 5, 6, 7, 8, 9]
['adhvay', 1, 2, 3, 5]

In [118]:
#replication or reputaion
#lists cannot be multipilied w each other
a=[1,2,3,4]
b=[2,3,4,5]
print(a*4)
print(a*3+b)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 2, 3, 4, 5]

In [74]:
#property of liests,built in functions of list
#copy list
a=[1,2,3,4]
b=a[:]                         #method 1
c=list(a)                      #method2
d=list(a).copy()               #method3
print(b)                       #method4
print(c)
print(d)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [76]:
#append
a=[1,2,3,4]
a.append("ass")
print(a)
a.append([2,3,4,5])
print(a)

[1, 2, 3, 4, 'ass']
[1, 2, 3, 4, 'ass', [2, 3, 4, 5]]

In [77]:
#extend
a=[1,2,3]
b=[3,4,5]
a.extend(b)
print(a)

[1, 2, 3, 3, 4, 5]

In [82]:
#insert
a=[1,2,3]
a.insert(2,10)
a.insert(3,["ded","dead"])
print(a)

[1, 2, 10, ['ded', 'dead'], 3]

In [84]:
#reverse
a=[1,2,3]
a.reverse()
print(a)

[3, 2, 1]

In [90]:
#index(uses actual value)
a=[1,2,3]
print(a.index(3))
print(a.index(22))

2

ValueError: 22 is not in list

In [96]:
#updating list
a=[1,2,3]
a[2]=5
print(a)
b=["ded","ass","bg"]
b[1]="adhvay"
print(b)

[1, 2, 5]
['ded', 'adhvay', 'bg']

In [97]:
#length
a=[4,5,6]
print(len(a))

3

In [100]:
#sort
a=[6,7,8,9.4,1,3,2,0]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[0, 1, 2, 3, 6, 7, 8, 9.4]
[9.4, 8, 7, 6, 3, 2, 1, 0]

In [101]:
#clear
a=[3,4,5,6,2,1,4]
a.clear()
print(a)

[]

In [113]:
#deletion
a=[1,3,5,6,2,7,0,9,21,11,34,55,66,33]
a.pop(8)              #method1
print(a)
a.pop(-1)         
print(a)
del a[-4]             #method2
print(a)
del a[-1:-4:-1]       #method3
print(a)
del a[1:3]
print(a)
a.remove(1)           #method4,only method using actual value
print(a)

[1, 3, 5, 6, 2, 7, 0, 9, 11, 34, 55, 66, 33]
[1, 3, 5, 6, 2, 7, 0, 9, 11, 34, 55, 66]
[1, 3, 5, 6, 2, 7, 0, 9, 34, 55, 66]
[1, 3, 5, 6, 2, 7, 0, 9]
[1, 6, 2, 7, 0, 9]
[6, 2, 7, 0, 9]

In [115]:
#count(uses actual value)
a=[1,2,3,4,5,5,4,3,2,1]
a.count(5)

2

In [117]:
#max,min
a=[1,2,3,4,5]
print(max(a))
print(min(a))

5
1

In [3]:
#sum
a=[1,5,6,3,9,8]
print(sum(a))

32

In [ ]:
#difference of count and length
#count uses actual value,it counts the same no.of items in the list,a=[1,4,4,1,2],a.count(4).....2
#length counts the no. of items in a list ,a-[1,2,3,4],print(len(a))................4


#difference between append,extend,insert and concatenantion
#append adds only one item to the end of its list,a=[1,2,3,4],a.append("ass"),print(a)
#extend adds only lists to the end of its list
#insert adds anything anywhere inside the list
#concatenantion is the method of adding anything to anything,list1+list2


#difference between pop,delete and remove
#pop removes any 1 item anywhere using index value in the list
#delete removes any number of items anywhere using index value in the list
#remove removes any one item anywhere using actual value in the list


#difference between tuple and list
#tuple-less memory,immutable,normal brackets (),tuples in dictionary as key
#lists-more memory,mutable,square brackets[],list cannot be key in dictionary


#append-lists,dictionary
#copy-lists,tuples,dictionary
#extend-lists
#insert-lists
#reverse-lists
#index-lists,tuples
#updating-lists,dictionary
#length-lists,tuples,dictionary
#sort-lists,dictionary
#clear-lists,dictionary
#deletion-lists,dictionary,tuples
#pop-lists,dictionary
#remove-lists
#count-lists,tuples,dictionary
#min,max-lists,tuples,dictionary
#sum-tuples,lists
#any-tuples,lists
#sorted-lists,(tuples will be converted to sorted lists),dictonary
#popitems-dictionary
#get-dictionary
#items-dictionary
#keys-dictionary
#values-dictionary
#fromkeys-dictionary
#setdefault-dictionary

In [119]:
a=(1,2,3,4)
b=[1,2,3,4]
c=list(range(1,5))
d=tuple(range(3,8))
print(a)
print(b)
print(c)
print(d)

(1, 2, 3, 4)
[1, 2, 3, 4]
[1, 2, 3, 4]
(3, 4, 5, 6, 7)

In [120]:
#traversing a tuple(printing each element in tuple is called traversing)
a=(1,2,3,4,5)
for i in a:
    print(i)

1
2
3
4
5

In [127]:
#slicing tuples
a=(1,2,3,4,5,6,7,8,9,0)
print(a[:])
print(a[5])
print(a[-1:2:-2])
print(a[:-1:7])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
6
(0, 8, 6, 4)
(1, 8)

In [129]:
#index
a=(1,2,3,4,5)
a.index(2)

1

In [130]:
#concatenantion
a=(1,2,3)
b=(3,4,5)
print(a+b)

(1, 2, 3, 3, 4, 5)

In [133]:
#repetition
a=(1,2,3,4)
print(a*3)
print(a*a)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [134]:
#count
a=(1,2,2,4,5,4,5)
a.count(2)
#counted no. of 2s

2

In [1]:
## membership intending
a=(1,2,3,4,5)
print(2 in a)
print(5 not in a)

True
False

In [ ]:
#
a=(2,3,"dead","ded",(3,4),("bod","bed"),[1,2],["ged","bred"] )

In [138]:
#length
a=(1,2,3,4)
len(a)

4

In [141]:
#any
a=(1,2,3,4)
b=()
print(any(a))
print(any(b))

True
False

In [144]:
#max,min
a=(1,2,3,4)
print(max(a))
print(min(a))

4
1

In [145]:
a=(1,2,3,4)
print(a.index(4))
print(max(a))

3
4

In [146]:
#sum
a=(1,2,3,4)
print(sum(a))

10

In [147]:
#sorted-takes sorted tuple but gives end result as a list
a=(2,3,6,1,4)
print(sorted(a))

[1, 2, 3, 4, 6]

In [148]:
#deleting a tuple
a=(1,2,3,4)
del a
print(a)

NameError: name 'a' is not defined

In [149]:
a=(1,2,3)
b=(10,20,30)
print(a!=b)
print(a==b)

True
False

In [ ]:
a={"q":1,"b":3}
b={"wed":"rainy","tue":"horny"}
c={12:"red",30:dry}
d={12:3,33:4}

In [152]:
a={11:22,33:44}
b=dict(a)
c=[[1,2],[2,3],[4,5],["ded",23],[24,"dead"],["boi","fr"]]
d=dict(c)
print(d)
print(d["ded"])

{1: 2, 2: 3, 4: 5, 'ded': 23, 24: 'dead', 'boi': 'fr'}
23

In [160]:
#traversing a dictionary
a={"one":"ded","two":"dead","three":"death","four":"dreath"}
for i in a:
    print(i,":",a[i])

one : ded
two : dead
three : death
four : dreath

In [161]:
#appendinf while using dictionary
a["five"]="fer"
print(a)

{'one': 'ded', 'two': 'dead', 'three': 'death', 'four': 'dreath', 'five': 'fer'}

In [162]:
#updating dictionary
a={21:22,11:34,33:44}
b={23:32,43:20,46:26}
c={21:14,33:41}
a.update(b)           #if bkeys are not present in a,b keys will be added to dictionary of a
print(a)
a.update(c)          #if ckeys are present in a ,the akeys are updated to c
print(a)

{21: 22, 11: 34, 33: 44, 23: 32, 43: 20, 46: 26}
{21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}

In [166]:
#removinf item from dictionary
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
del a[21]       #method 1-uses actual key value 
print(a)
a.pop(11)       #method2-uses actual key value
print(a)

{11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
{33: 41, 23: 32, 43: 20, 46: 26}

In [168]:
#membership testing
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
print(11 in a)
print(22 not in a)

True
True

In [170]:
#functions of dictionary
#clear
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
a.clear()
print(a)

{}

In [171]:
#get-uses actual value of the key
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
a.get(21)

14

In [174]:
#items
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
a.items()

dict_items([(21, 14), (11, 34), (33, 41), (23, 32), (43, 20), (46, 26)])

In [175]:
#keys
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
a.keys()

dict_keys([21, 11, 33, 23, 43, 46])

In [176]:
#values
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
a.values()

dict_values([14, 34, 41, 32, 20, 26])

In [179]:
#copy
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
b=a.copy()
print(b)

{21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}

In [180]:
#popitem
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
a.popitem()
print(a)

{21: 14, 11: 34, 33: 41, 23: 32, 43: 20}

In [182]:
#max,min
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
print(max(a))         #the highest key
print(min(a))         #the lowest key

46
11

In [185]:
#fromkeys
a=[1,2,3,4,5]
b=7
d=dict.fromkeys(a,b)
print(d)
e=dict.fromkeys(a)
print(e)

{1: 7, 2: 7, 3: 7, 4: 7, 5: 7}
{1: None, 2: None, 3: None, 4: None, 5: None}

In [187]:
#setdefault
a={21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26}
c=a.setdefault(25,6000)
d=a.setdefault(1000)
print(a)

{21: 14, 11: 34, 33: 41, 23: 32, 43: 20, 46: 26, 25: 6000, 1000: None}

In [189]:
Lst=[1,2,3,4,5,6,7,8,9]
Lst[:2:]=10,20
print[Lst]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [190]:
a=1,2,3,4,5,6,7
b=a[1],
c,d=a[2],a[3]
e=a[4],a[5]
print(a,b,c,d,e)

(1, 2, 3, 4, 5, 6, 7) (2,) 3 4 (5, 6)

In [194]:
my_dict={}
my_dict[(1,2,4)]=8
my_dict[(4,2,1)]=10
my_dict[(1,2)]=12
sum=0
for k in my_dict:sum+=my_dict[k]
print(sum)
print(my_dict)

30
{(1, 2, 4): 8, (4, 2, 1): 10, (1, 2): 12}

In [195]:
myList = [1,2,3,4,5,6,7,8,9,10]
newList=[]
for i in range(0,len(myList)):
    if i%2 == 0: 
        newList.append(myList[i])  
        print(newList)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]